.footer {
  background-color: white;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
  color: lightgray;
}

.footer span:hover {
  text-decoration: underline;
}

.footerTop {
  display: flex;
  gap: 3rem;
  color: var(--color-blue);
}

.footerTop li span {
  margin-left: 0.4rem;
  cursor: pointer;
}

.footerBottom {
  text-align: center;
}

.footerBottom span {
  cursor: pointer;
  color: var(--color-blue);
}
