.uploadSection {
  background-color: white;
  min-height: calc(100vh - 6rem);
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding-top: 10rem;
  position: relative;
}

.uploadIcon {
  font-size: 9rem;
  color: var(--color-blue);
  cursor: pointer;
}

.uploadTitle {
  font-size: var(--text-normal);
}

.uploadText {
  font-size: 1rem;
}

.uploadText span {
  color: var(--color-blue);
}

.uploadInfo {
  position: absolute;
  bottom: 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgb(182, 182, 182);
}

@media (max-width: 37.5em) {
  .uploadIcon {
    font-size: 6rem;
    color: var(--color-blue);
    cursor: pointer;
  }

  .uploadTitle {
    font-size: 1.4rem;
  }

  .uploadText {
    width: 70%;
    text-align: center;
  }
}
